<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandatone.kumiwake">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kumiwake.QuickMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".kumiwake.NormalMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".kumiwake.KumiwakeCustom"
            android:screenOrientation="portrait" />
        <activity android:name=".kumiwake.KumiwakeConfirmation"
            android:screenOrientation="portrait"/>
        <activity android:name=".kumiwake.KumiwakeResult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".member.ChoiceMemberMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/MemberChoiceTheme"/>
        <activity
            android:name=".sekigime.SelectTableType"
            android:screenOrientation="portrait"
            android:theme="@style/SekigimeTheme"/>
        <activity
            android:name=".sekigime.SquareTableCustom"
            android:screenOrientation="portrait"
            android:theme="@style/SekigimeTheme"/>
        <activity
            android:name=".sekigime.SekigimeResult"
            android:screenOrientation="portrait"
            android:theme="@style/SekigimeTheme"/>
        <activity
            android:name=".member.AddMember"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.AddGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2315101868638564~1560987130" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>